@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    width: 200px;
}

#formFactorialLab2, #formCincoOroLab2 {
    width: 300px;
}

body {
    margin: 0rem;
}

.contenedor-uno {
    background-color: #b2e2f2;
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-dos {
    background-color: #ffda9e;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

input{
    border-radius: 200px;
    border: none;
    padding: 10px;
}

select{
    border-radius: 200px;
    border: none;
    padding: 10px;
}

